* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    position: relative;
}

#login {
    background-color: #54C6EB;
    border-color: #54C6EB;
    opacity: 1;
}

#lucky {
    font-family: 'Train One', serif;
    font-size: 3rem;
    font-weight:lighter;
    padding: 10px;
    opacity: 80%;
    background-color:#b79ced;
    border-radius: 50%;
}

.nav {
    margin-bottom: 20px;
}

.petList {
    margin: 20px;
}

#profile {
    padding: 30px;
}

#profile-button {
    background-color: #b79ced;
}

#my-post {
    padding: 30px;
}

#share {
    background-color: #54C6EB;
}

#footer {
    margin-bottom: 0;
    position: absolute;
    z-index: 1;
    overflow: hidden;
}

.pet-card-container {
    justify-content: center;
    align-items: center;
}

#message {
    background-color: white;
}

#form-text {
    font-size: 1.2rem;
    color:black;
    border: none;
}

#background {
    background-image:
        url('./pages/assets/background-map.png')
}

#card {
    background-color: rgb(255,255,255, .5);
}
.my-posts {
    padding: 40px;
    margin-right: 40px;
    margin-left: 40px;
}

#comment {
    max-width: 100%;
}

.home {
    margin: 40px;
}
#about {
    padding-bottom: 40px;
}

.image {
    margin-bottom: 2rem;
}