* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    position: relative;
}

#login {
    background-color: #54C6EB;
    border-color: #54C6EB;
    opacity: 1;
}

#lucky {
    font-family: 'Train One', serif;
    font-size: 4rem;
    font-weight: lighter;
}

.nav {
    margin-bottom: 20px;
}

.petList {
    margin: 20px;
}

#profile {
    padding: 30px;
}

#profile-button {
    background-color: #b79ced;
}

#my-post {
    padding: 30px;
}

#share {
    background-color: #54C6EB;
}

#footer {
    margin-bottom: 0;
    position: absolute;
    overflow: hidden;
}

.pet-card-container {
    justify-content: center;
    align-items: center;
}

#message {
    background-color: white;
}

#form-text {
    font-size: 1.2rem;
    color:black;
    border: none;
}

#background {
    background-image:
        url('./pages/assets/background-map.png')
}

.my-posts {
    padding: 40px;
    margin-right: 40px;
    margin-left: 40px;
}